<html>
    <header>
        <style>
            .container {
                width: 800px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </header>

    <body>
        <div class="container">
            <br />
            <br />

            <img src="https://i.imgur.com/oUAKMC5.png" />

            <br />
            <br />
            <br />

            <span> Hello, {{name}}! </span>

            <br />
            <br />

            <span>
                We have received a password recovery request for your account ({{email}}).
            </span>

            <br />
            <br />

            <span>
                To change your password, click on the link:
                <a href={{link}}> {{link}} </a>
            </span>

            <br />
            <br />

            <span>
                <strong> Note: This link expires in 24hr. </strong>
            </span>

            <br />
            <br />

            <span>
                If you were not the one who requested to change your password,
                just ignore this email.
            </span>

            <br />
            <br />
            <br />

            <span> Thank you! </span>

            <br />

            <h3> Support | <strong> Rentx </strong> </h3>
        </div>
    </body>

</html>